<app-cover title="Home" sub1="Gallery" sub2="Hospital Gallery"></app-cover>

<div class="container mx-auto my-24">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (hospital of hospitalNames; track $index) {
        <div
        data-aos="zoom-in"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
        class="card bg-white shadow-sm rounded">
        <figure>
          <img [src]="hospitalImages[$index]" alt="hospital" />
        </figure>
        <div class="card-body pb-4">
          <h2 class="text-xl text-left">{{ hospital }}</h2>
        </div>
      </div>
      }
    </div>
  </div>
  
