<section class="relative px-4 py-16 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 lg:py-32 bg-base-200">
  <div class="flex flex-col lg:flex-row lg:-mx-8">
    <div class="w-full lg:w-1/2 lg:px-8">
      <h2 class="text-3xl leading-tight font-bold mt-4">Welcome to the Dentist Office of Dr. Thomas Dooley</h2>
      <p class="text-lg mt-4 font-semibold">Excellence in Dentistry in the Heart of NY</p>
      <p class="mt-2 leading-relaxed">Donec convallis sollicitudin facilisis. Integer nisl ligula, accumsan non
        tincidunt ac, imperdiet in enim.
        Donec efficitur ullamcorper metus, eu venenatis nunc. Nam eget neque tempus, mollis sem a, faucibus mi.</p>
    </div>

    <div class="w-full lg:w-1/2 lg:px-8 mt-12 lg:mt-0">
      <div class="md:flex">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">Everything You Need Under One Roof</h4>
          <p class="mt-2 leading-relaxed">Our comprehensive services allow you to receive all needed dental care
            right here in our state-of-art
            office – from dental cleanings and fillings to dental implants and extractions.</p>
        </div>
      </div>

      <div class="md:flex mt-8">
        <div>
          <div class="w-16 h-16 bg-blue-600 rounded-full"></div>
        </div>
        <div class="md:ml-8 mt-4 md:mt-0">
          <h4 class="text-xl font-bold leading-tight">Our Patient-Focused Approach</h4>
          <p class="mt-2 leading-relaxed">Your treatment plan will perfectly match your needs, lifestyle, and goals.
            Even if it’s been years
            since you last visited the dentist, we can help. Our comfortable office, compassionate team, and
            minimally-invasive treatments will help you feel completely at ease.</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="md:flex md:flex-wrap mt-24 text-center md:-mx-4">
    <div class="md:w-1/2 md:px-4 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/doctor-checking-patient-in-a-hospital-7131179-5783689.png?f=webp" alt="" class="h-20 mx-auto">

        <h4 class="text-xl font-bold mt-4">EXPLETIVE THERAPIES</h4>
        <p class="mt-1 text-justify">At our hospital, we are committed to exceeding your expectations and providing you with the highest standard of care. Experience the difference of world-class facilities, expert doctors, and complementary therapies - all in one place. we're here for you every step of the way.</p>
      </div>
    </div>

    <div class="md:w-1/2 md:px-4 mt-4 md:mt-0 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/doctor-shows-the-results-of-the-ct-scan-to-the-patient-7131165-5783675.png?f=webp" alt="" class="h-20 mx-auto">

        <h4 class="text-xl font-bold mt-4">WORLD CLASS FACILITIES</h4>
        <p class="mt-1 text-justify">Our world-class facilities are equipped with the latest technology and amenities to provide you with the highest quality of care. From cutting-edge diagnostic tools to comfortable patient rooms, we strive to create an environment that promotes healing and comfort.</p>
      </div>
    </div>

    <div class="md:w-1/2 md:px-4 mt-4 md:mt-8 lg:mt-0 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/a-woman-finding-nearby-hospital-7131164-5783674.png?f=webp" alt="" class="h-20 mx-auto">

        <h4 class="text-xl font-bold mt-4">SAME DAY APPOINTMENTS</h4>
        <p class="mt-1 text-justify">At our facility, we understand the importance of convenience and efficiency when it comes to healthcare, which is why we offer same-day appointments to ensure you receive the care you need when you need it most. Your health is our priority, and we're here for you.</p>
      </div>
    </div>

    <div class="md:w-1/2 md:px-4 mt-4 md:mt-8 lg:mt-0 lg:w-1/4">
      <div class="bg-white rounded-lg border border-gray-300 p-8">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/male-doctor-discussing-with-a-female-intern-7131170-5783680.png?f=webp" alt="" class="h-20 mx-auto">

        <h4 class="text-xl font-bold mt-4">EXPERT DOCTORS</h4>
        <p class="mt-1 text-justify">When you visit our hospital, you can rest assured knowing that you'll be in the hands of expert doctors and medical professionals. Our team is comprised of highly trained specialists who are dedicated to providing personalized treatment plans tailored to your unique needs.</p>
      </div>
    </div>
  </div>
</section>





<!-- <section>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="../../../assets/images/service.png" class="" />
      <div>
        <h1 class="text-5xl font-bold text-center text-primary-700">আমাদের সেবা সমূহ</h1>
        <h2 class="text-2xl font-bold my-2 text-red-500"> জার্মানী মেশিন দ্বারা সকল পরীক্ষা নিরীক্ষা করা হয়। </h2>
        <ul>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">4D কালার ডপলার আল্ট্রাসনো</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">বিশেষজ্ঞ ডাক্তার দ্বারা চিকিৎসা প্রদান</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">হরমোন নির্ণয় (এ্যালাইজা ও অটো)</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">ই.সি.জি ১২ চ্যানেল</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">ডিজিটাল এক্স-রে/ডেন্টাল</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">ক্লিনিক্যাল প্যাথলজি</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">মাইক্রোবায়োলজী</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">অটো হেমাটোলজি</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">শীততাপ নিয়ন্ত্রিত</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">নিজস্ব বিদ্যুৎ ব্যবস্থা</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">পরিচ্ছন্ন পরিবেশ</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">সেবা নিন সুস্থ্য থাকুন</p>
          </li>
          <li class="py-2 font-extrabold flex items-center">
            <img src="../../../assets/images/order-list.png" class="h-8" />
            <p class="ml-2">
              নাক, কান, গলা ডিজিটাল ভিডিও মেশিন দ্বারা চিকিৎসা করা হয়।
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
